# Mac files
.DS_Store

# Environment Configuration
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.build/

# Dependency directory
node_modules
~/

# Debug log from npm
npm-debug.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history

# Hot update spinners
*.hot-update.js
*.hot-update.json
